<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js App</title>
</head>

<body>
    <div id="app">
        <p @mouseover="showIsland(1)" @mouseleave="showIsland()">マウスオーバー</p>
        <!-- <p @mouseover="showIsland" @mouseleave="showIsland">マウスオーバー</p> -->
        <input v-model="message">
        <p v-if="show" v-bind="item">{{val}}</p>
    </div>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>